*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #050c14;
}

button{
    color: inherit;
    cursor: inherit;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

.main{
    display: flex;
    flex-direction: row;
    column-gap: 1.7rem;
}

.left-bar{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-width: 14rem;
    width: 100%;
    min-height: 1rem;
    border: 5px solid red;
}

.items{
    height: 3rem;
}

.left-bar a{
    color: white;
    text-decoration: none;
}

.btn{
    color: white;
}

.material-symbols-outlined{
    padding: 0 1rem;
}

.left-bar .items:hover button, .left-bar .items:hover span, .items:hover a, .left-bar .items:hover{            /* problem solved when clicking parent container inner button also changing its color */
    display: inline;
    background-color: rgb(17, 16, 16);                                  
}

.items span{
    display: none;
}

.left-bar:hover span{
    display: inline;
}


/* -----------------------------------------------------------------Stories -----------------------------------------------------------------------------------------------*/


.story-post{
    max-width: 39rem;
    width: 100%;
    min-height: 1rem;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

.stories{
    max-width: 38.grem;
    width: 100%;
    height: 6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid red;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stories .image{
    max-width: 4.5rem;
    width: 100%;
    object-fit: cover;
    height: 4.5rem;
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid red;
}

.profile p, .profile img{
    cursor: pointer;
}

.profile p{
    font-size: 0.8rem;
}


/* -----------------------------------------------------------------Suggestion--------------------------------------------------------------------------------------------*/


.post{
    max-width: 29rem;
    width: 100%;
    min-height: 1rem;
    border: 3px solid red;
}






/* -----------------------------------------------------------------Suggestion--------------------------------------------------------------------------------------------*/


.suggestion{
    border: 3px solid red;
    max-width: 18.3rem;
    width: 100%;
    min-height: 1rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.box1{
    border: 3px solid blue;
    max-width: 10rem;
    width: 100%;
    min-height: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 15px;
}

.suggestion .box1 .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
}

.s-image{
    max-width: 3rem;
    width: 100%;
    height: 3rem;
}

.s-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.s-image img, .s-text h5{
    cursor: pointer;
}

.box2{
    padding-top: 15px;
    border: 3px solid blue;
    max-width: 8rem;
    width: 100%;
    min-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
}

.b2-box{
    display: flex;
    flex-direction: column;
    row-gap: 2.9rem;
}

.suggestion .box2 a{
    text-decoration: none;
    color: #3b4da6;
}

.box2 h5{
    font-size: 12px;
}